
#headerx{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 3px 3px rgba(0,0,0,0.25);
    margin: 0 auto;
}
#header{

    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #c7ddef;

}
#t1 a{
    margin:20px 0 0 20px;
    text-decoration: none;
    height: 30px;
    width: 180px;
    border: solid;
    border-width: 1px;
    border-color: #2980b9;
    border-radius: 5px;
    padding:5px 2px 2px 7px;
    float: left;

}
#image img{
    width: 200px;
    height: 100px;
    float: left;
    /*position:relative;*/
}
#t1{
    width: 300px;

}
#image{
    width: 600px;
    padding-left: 500px;
}
#da{
    width: 100px;
    height: 50px;float: left;
    margin-top: 15px;
    margin-left: 400px;
    padding:30px 0 0 0;

}
#da a{
    color: blue;
}
#content{
    padding-top: 10px;
    width: 1330px;
    height: 800px;
    margin-top: 110px;
    position: relative;
    z-index: 2;
}


#bodyl{
    width: 200px;
   /* background:url("images/db.png") no-repeat center center;*/

    height: 200px;
    margin-top: 160px;
    margin-left: 180px;
    /*margin-top: 110px;
    left: 100px;
    height: 400px;
    width: 550px;
    border: solid;*/
    float: left;

}
#bodyr{
    width: 600px;
    height: 600px;
    margin-left: 600px;
}
.st{
    width: 200px;
    height: 50px;
    margin-top: 90px;

}
#text1{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:small;
    float: left;
    margin-left: 80px;
    padding-left: 20px;
}
#text2{

    float: right;
    margin-top: 100px;
    margin-right: 30px;
    padding-top: 6px;


}
#text2 a{
    text-decoration: none;
    color: blue;
}

.frm{
    text-align: left;

}
.bn{

    margin-top: 10px;
    margin-left: 100px;
    /*position: relative;*/
    padding: 8px 0;
    width: 400px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-image: url("images/g1.png");
    background-color: #4285f4;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.hr-label{
    text-align: center;
    clear: both;
}
.hr-label_text{
    display: inline-block;
    position: relative;
    background-color: #fff;
}
#hrline h2{
    width: 65%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin-left: 100px;
}
#hrline h2 span{
    background: #fff;
    padding: 0 10px;

}
input[type=text]{
    width: 65%;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 7px;
    margin: 2px 0 9px 100px;
    min-height: 34px;
    line-height: normal;
    border:solid;
    border-width: 1px;
    border-radius: 3px;

}
#chbox{

    width:120px;
    margin-left: 100px;
    float:left;
}
#sbbtn{
    width: 100px;
    float: right;
    margin-right:80px;

}
button[type=submit]{
    background-color: #007ee5;
    width: 80px;
    padding: 5px;

    border-width: 1px;
    border-radius: 5px;
    font-size: 16px;

}
#fgp{
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}
hr{
    width: 1000px;
}
ul{
    list-style: none;

}
 .footer-col ul li{
    padding: 4px;

}
.footer-col{
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    margin: 15px 45px 20px 15px;
    font-size: 14px;


}
.fhead{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

}
.footer-col ul li a{
    text-decoration: none;
    color: #3d464d;
    font-weight: normal;

}
